<div class="page-header">
    <h2>Your Bill</h2>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Statement</div>
    <div class="panel-body">
        <p>This is a summary of your charges, please see below for itemised billing.</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>Period:</strong> {{:: bill.statement.period.from }} &#45; {{:: bill.statement.period.to }} </li>
        <li class="list-group-item"><strong>Due:</strong> {{:: bill.statement.due }}</li>
        <li class="list-group-item"><strong>Subscriptions:</strong> &pound;{{:: bill.subscriptions.total }}</li>
        <li class="list-group-item"><strong>Calls:</strong> &pound;{{:: bill.callCharges.total }}</li>
        <li class="list-group-item"><strong>Sky Store:</strong> &pound;{{:: bill.skyStore.total }}</li>
        <li class="list-group-item"><strong>Total:</strong> &pound;{{:: bill.total }}</li>
    </ul>
</div>
<accordion close-others="true">
    <accordion-group heading="Subscriptions (&pound;{{:: bill.package.total }})">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subscription in bill.package.subscriptions">
                  <td>{{:: subscription.name }}</td>
                  <td>{{:: subscription.type }}</td>
                  <td>&pound;{{subscription.cost }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total:</td>
                    <td>&pound;{{:: bill.package.total }}</td>
                </tr>
            </tfoot>
        </table>
    </accordion-group>
    <accordion-group heading="Your Calls (&pound;{{:: bill.callCharges.total }})">
        <table class="table">
            <thead>
                <tr>
                    <th>Called</th>
                    <th>Duration</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="call in bill.callCharges.calls">
                  <td>{{:: call.called }}</td>
                  <td>{{:: call.duration }}</td>
                  <td>&pound; {{:: call.cost }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total:</td>
                    <td>&pound;{{:: bill.callCharges.total }}</td>
                </tr>
            </tfoot>
        </table>
    </accordion-group>
    <accordion-group heading="Sky Store (&pound;{{:: bill.skyStore.total }})">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rental in bill.skyStore.rentals">
                  <td>{{:: rental.title }}</td>
                  <td>Rental</td>
                  <td>&pound; {{:: rental.cost }}</td>
                </tr>
                <tr ng-repeat="buy in bill.skyStore.buyAndKeep">
                  <td>{{:: buy.title }}</td>
                  <td>Buy and Keep</td>
                  <td>&pound; {{:: buy.cost }}</td>
                </tr>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Total:</td>
                        <td>&pound;{{:: bill.skyStore.total }}</td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
    </accordion-group>
 </accordion>
